* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
}

.home {
    background-image: url("https://wallpaperaccess.com/full/52271.jpg");
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 40vh;
    width: 40vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 200px;
}

.text h1 {
    color: white;
    font-size: 100px;
    margin-top: -200px;
    font-style: oblique;
}

.input-group {
    background-color: #00000050;
    padding: 1rem;
    margin-top: 50px;
    border-radius: 10px;
    opacity: 0.8;
}

.input-group button {
    background-color: rgb(36, 207, 241);
    color: #121010;
    padding: 0.2rem;
    border-radius: 10px;
    border: none;
    font-weight: 530;
}

#result {
    background-color: #00000090;
    color: white;
    padding: 1rem;
    border-radius: 10px;
}